<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Autor</title>
</head>
<body>
    <h1>Pesquisa de Autor</h1>
    <form id="pesquisaForm" method="GET" action="/autores/pesquisar-autor">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Pesquisar</button>
    </form>
    <div id="resultado"></div>

    <script src="/js/pesquisarAutor.js"></script>
</body>
</html>
