<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Obra</title>
</head>
<body>
    <h1>Pesquisa de Obra</h1>
    <form id="pesquisaForm" method="GET" action="/obras/pesquisar-obra">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <button type="submit">Pesquisar</button>
    </form>
    <div id="resultado"></div>
    
    <script src="/js/pesquisarObra.js"></script>
</body>
</html>
